@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&display=swap');

* body {
    margin: 0 auto;
    background-color: #127369;
}

* a {
    transition: 0.20s all;
}
* header {
    width: 80vw;
    font-family: 'Montserrat', sans-serif;
    background-color: #127369; 
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

header h1 {
    font-size: x-large;
    color: white;
}

#menu li {
    display: inline-block;
    margin: 15px;
}

ul a {
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: white;
}

ul a:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

