@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&display=swap');

article {
    padding-bottom: 20px;
    color: #BFBFBF;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    background-attachment: fixed;
    background-color: #10403B;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#burgerfoto2 {
    opacity: 100%;
    display: flex;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 1px 17px 0px black;
    align-items: center;
    width: 400px;
    height: 491px;
}

#burgerfoto2:hover {
    cursor: pointer;
    opacity: 0%;
    display: none;
}

article h2 {
    text-align: left;
    font-size: 300%;
    padding-top: 20px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#texto {
    padding-bottom: 20px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
}

#texto h3 {
    text-align: left;
    line-height: 10px;
    font-size: 150%;
    font-weight: 150;
}

#texto > p {
    font-size: 150%;
    width: 350px;
}
#burgerfoto:hover {
    cursor: pointer;
    opacity: 100%;
    display: flex;
}

#burgerfoto {
    opacity: 0%;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 1px 17px 0px black;
    align-items: center;
    width: 400px;
    height: 491px;

}

#img1 {
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 20px;
}

#verprojeto {
    color: #10403B;
    background-color: #BFBFBF;
    border-radius: 20px;
    padding: 20px;
    text-decoration: none;
}

#verprojeto:hover {
    background-color:#bfbfbf70;
    color: #10403b6b;
}